[mysqld]
skip-name-resolve
datadir=/var/lib/mysql
server-id=1000
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
lower_case_table_names=1
log_bin_trust_function_creators=1
transaction-isolation=READ-COMMITTED
innodb_log_file_size = 256M
max_allowed_packet = 34M